/*Start of CSS */ 

.header {
    overflow: hidden;
    background-color: #008080 ;
    padding: 10px;
    text-align: center;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    list-style-type: none;
    height: 70px;
  }

  .footer {
    background-color: #e9967a;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed; /* or 'absolute' depending on your layout */
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px; /* Set the height of your footer */
    width: 100%;
  }
  .body {
    margin: 0;
    padding-bottom: 60px; /* Adjust this value based on the footer height */
}

  .headings h1 h2 h3 h4 h5 .card-title {
    font-family: "Ysabeau SC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .text p {
    font-family: "Ysabeau SC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .footer-text {
    font-family: "Ysabeau SC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

    .poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }  
  

  .htext{ 
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  
  .htext-table{ 
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #008080;
  }
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24; 
    color: white; 
  }
  .navbar navbar-expand-lg { 
    background-color: #008080;
  }
  
  .nav-item{ 
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
  }

  /* Edit button styling */
.edit-button {
  background-color: #4CAF50; /* Green */
}

.edit-button:hover {
  background-color: #45a049; /* Darker green */
  transform: translateY(-2px); /* Slight lift effect */
}

/* Delete button styling */
.delete-button {
  background-color: #f44336; /* Red */
}

.delete-button:hover {
  background-color: #e53935; /* Darker red */
  transform: translateY(-2px); /* Slight lift effect */
}


/* Table */ 
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  th {
    background-color: #4CAF50;
    color: white;
  }


/*  Style the links inside the navigation bar */
